/** ===========================
 *  Fonts
 *  ===========================
*/
@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
}

/** ===========================
 *  General
 *  ===========================
*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: lightgray;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    padding: 6px 0 6px 5px;
    outline: none;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;

}

.container {
    max-width: 1297px;
    margin: auto;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    font-family: Montserrat, sans-serif;
}

.scrollbar-wrapper {
    position: relative;
}

.socials {
    display: flex;
    align-items: center;
}

.socials__img {
    width: 24px;
    height: 24px;
}

.socials__footer__size > img {
    width: 100%;
    height: 100%;

}

/* === Scrollbar === */
.scrollbar {
    display: flex;
    flex-direction: column;
    padding-left: 23px;
    position: absolute;
    top: 0;
    left: -91px;
    justify-content: space-between;
    /*bottom: 0;*/
    width: 46px;
    border-left: 1px solid #000;
}

.scrollbar__navigation {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 80px;
}

.scrollbar__text {
    text-align: center;
}

.scrollbar__text__line,
.scrollbar__text__line::before,
.scrollbar__text__line::after {
    display: block;
    position: absolute;
    top: 42px;
    width: 10px;
    height: 2px;
    border-radius: 100px;
    background-color: #000;
}

.scrollbar__text__line::before {
    content: '';
    top: -8px;
    width: 16px;
}

.scrollbar__text__line::after {
    content: '';
    top: 8px;
    width: 6px;
}

/** ===========================
 *  Header sections
 *  ===========================
*/
#section-header {
    padding-top: 80px;
    height: 691px;
    font-size: 14px;
}

.img__bg {
    width: 900px;
    object-fit: cover;
    background-position: center;
}

.carousel {
    width: 100%;
}

.owl-carousel {
    display: block;
    width: 900px;
    height: 691px;
}

.owl-item {
    height: 691px;
    width: 900px;
}

.poster__size {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 240px;
}

.poster__block {
    width: 440px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
}

.navigation-wrapper {
    width: 50%;
    height: 691px;
    right: 0;
    top: 0;
    position: absolute;
}

.navigation {
    height: 123px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 80px;
    position: absolute;
    z-index: 10;
}

.navigation__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
    list-style: none;
}

.navigation__ul > li > a:hover {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.navigation__ul > li > a {
    cursor: pointer;
}

.title {
    width: 620px;
    height: 612px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title__text {
    padding-right: 40px;
    font-weight: 200;
    font-size: 64px;
    line-height: 64px;
    text-align: right;
}

.title__social__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    margin-right: 40px;
}

/** ===========================
 *  About sections
 *  ===========================
*/
#about {
    height: 100%;
    width: 88%;
    margin: 0 auto;
    display: flex;
}

#section-about {
    padding-top: 80px;
}

.about__background-wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#about__img {
    width: 480px;
}

.btn--more {
    margin-top: 76px;
    background: rgba(255, 255, 255, 0.5);
    width: 188px;
    height: 48px;
    border: none;
    cursor: pointer;

    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
}

.about__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#img__eight-hundred {
    height: 89px;
    width: 329px;
}

#about__text__title {
    font-weight: 200;
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 57px;
}

.about__text__small {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}

#about__text__medium {
    font-weight: 300;
    font-size: 24px;
    font-style: normal;
    line-height: 18px;
    text-align: right;
    padding-top: 18px;
}

#about__text__large {
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    margin-top: 10px;
}

#about__text__wellness {
    font-weight: 200;
    font-size: 36px;
    line-height: 44px;
    text-align: right;
}

#about__text__space {
    text-align: right;
}

#about__text__year {
    text-align: center;
}

.about__text__width {
    width: 385px;
}

.about__text__group1 {
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

.about__text__group2 {
    width: 100%;
    padding-right: 24px;
    border-right: 1px solid black;
}

.about__text__group2-wrapper {
    width: 227px;
}

#about__text__group3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 23px;
}

#about__bottom__title {
    font-weight: 300;
    width: 74%;
    margin: 0 auto;
    font-size: 42px;
    line-height: 36px;
    margin-top: 100px;
}

/** ===========================
 *  Services sections
 *  ===========================
*/
#services {
    height: 100%;
    width: 88%;
    margin: 0 auto;
}

#section-services {
    padding-top: 60px;
}

.services__block__img {
    width: 480px;
    height: 480px;
}

.services__block__text {
    width: 480px;
    padding: 50px 45px;
    font-weight: 300;
    font-size: 36px;
}

.services__block {
    display: flex;
    justify-content: center;
}

#services > div > img {
    object-fit: cover;
    background-position: center;
}

.text-right {
    text-align: right;
}

.services__block__style {
    background: rgba(255, 102, 0, 0.05);
    position: absolute;
    z-index: -1;
}

#fullList {
    bottom: 0;
    padding-bottom: 5px;
}

#fullList:hover {
    border-bottom: 1px solid black;
}

.services__list {
    list-style-type: none;
}

.services__list > li:before {
    content: '';
    display: inline-block;
    height: 2px;
    width: 2px;
    margin: 0 8px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #000;
}

/** ===========================
 *  Footer sections
 *  ===========================
*/
footer {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

#section-footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer--small {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
}

.footer--medium {
    font-size: 18px;
    line-height: 22px;
}

.footer--large {
    font-weight: 300;
    font-size: 42px;
    line-height: 48px;
}

.footer__text-wrapper {
    margin-bottom: 20px;
}

.footer__text-wrapper:last-child {
    margin-bottom: 0;
}

.footer__title-wrapper {
    margin-bottom: 35px;
}

.footer__text-wrapper > p {
    margin-top: 10px;
    width: 280px;
}

.footer__text-wrapper > a {
    margin-top: 10px;
    width: 280px;
    display: block;
}

.socials__footer {
    gap: 35px;
    margin-top: 20px;
}

.socials__footer__size {
    height: 25px;
    width: 24px;
}

.place {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.place__text {
    width: 240px;
}

.place-wrapper {
    width: 40%;
    display: flex;
    justify-content: center;
}

.map-wrapper {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

#map {
    width: 740px;
    height: 400px;
}

input[type="checkbox"] {
    background-color: white !important;
    border: 1px solid black;
}

input[type="checkbox"]:checked {
    width: 24px;
    height: 24px;
    background: transparent url("assets/img/checkbox.png");
}

/* === Form === */
form {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 25px;
    width: 395px;
}

.form-wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
}

.contact-wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
}

.contact-width {
    width: 376px;
}

#input__approval {
    width: 24px;
    height: 24px;
    border-radius: 0;
    background-color: white;
}

.label__field {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

#label__checkbox {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}

.checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    background-color: transparent;
}

.btn-submit {
    cursor: pointer;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 10px;
}

/** ===========================
 *  ====== Media queries ======
 *  ===========================
*/

@media (max-width: 1366px) {
    .container {
        max-width: 1066px;
    }

    /** ===========================
     *  Header sections
     *  ===========================
    */
    .title {
        width: 456px;
    }

    .img__bg {
        height: 691px;
    }

    .title__text {
        padding-right: 30px;
    }

    .title__social__links {
        margin-right: 30px;
    }

    .header__burger {
        display: none;
    }

    /** ===========================
     *  About sections
     *  ===========================
     */
    #about__img {
        width: 470px;
    }

    .navigation-wrapper {
        width: 50%;
    }

    #about__bottom__title {
        font-size: 36px;
    }

    /** ===========================
     *  Services sections
     *  ===========================
    */
    .services__block__text {
        width: 50%;
        padding: 45px 40px;
        font-size: 30px;
    }

    #services__txt2 {
        padding-left: 0;
    }

    .services__block__img {
        width: 50%;
    }

}

@media (max-width: 1280px) {
    .container {
        max-width: 860px;
    }

    /** ===========================
     *  Header sections
     *  ===========================
    */
    .navigation-wrapper {
        width: 50%;
        right: 0;
    }

    .title {
        width: 420px;
    }

    /** ===========================
     *  About sections
     *  ===========================
    */
    #about__img {
        width: 380px;
    }

    #about__text__title {
        font-size: 28px;
    }

    .about__text__width {
        width: 350px;
        margin-right: -40px;
    }

    #about__text__wellness {
        font-size: 30px;
    }

    #about__text__large {
        font-size: 26px;
    }

}

@media (max-width: 1024px) {
    .container {
        max-width: 700px;
    }

    .socials__img {
        width: 20px;
        height: 20px;
    }

    /** ===========================
     *  Header sections
     *  ===========================
    */
    #section-header {
        position: static;
        height: auto;
        padding: 0;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 50;
    }

    .title {
        display: none;
    }

    .title__text {
        font-size: 48px;
    }

    .scrollbar {
        display: none;
    }

    .scrollbar-wrapper {
        position: static;
        width: 100% !important;
    }

    .navigation {
        background-color: rgba(255, 255, 255, 0.8);
        -webkit-box-shadow: 0 2px 8px 0 rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0 2px 8px 0 rgba(34, 60, 80, 0.2);
        box-shadow: 0 2px 8px 0 rgba(34, 60, 80, 0.2);
        height: 80px;
        margin-top: 0;
    }

    .navigation-wrapper {
        width: 100%;
        height: 100%;
        position: static;
    }

    .owl-carousel {
        height: 100%;
    }

    .owl-item {
        height: 100%;
    }

    .poster__size {
        padding-top: 120px;
    }

    .img__bg {
        height: 691px;
        width: 100%;
    }

    .carousel {
        height: auto;
    }

    /** ===========================
     *  About sections
     *  ===========================
    */
    #section-about {
        padding-top: 0;
    }

    #about {
        flex-direction: column-reverse;
        align-items: center;
    }

    #about__img {
        width: 480px;
    }

    .about__background-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .about__background {
        margin-top: 50px;
    }

    .about__text__width {
        margin-right: 0;
        margin-bottom: 57px;
    }

    .about__text {
        width: 100%;
        margin-left: 0;
        margin-top: 50px;
        align-items: center;
    }

    #about__text__title {
        text-align: center;
        width: 100%;
    }

    #about__bottom__title {
        font-size: 32px;
        margin-left: 0;
        text-align: center;
        width: 100%;
    }

    /** ===========================
     *  Services sections
     *  ===========================
    */
    #section-services {
        padding-top: 0;
    }

    .services__block {
        flex-direction: column-reverse;
        align-items: center;
    }

    .services__block__text {
        width: 100%;
        padding: 70px 40px 20px 40px;
        text-align: center;
    }

    .text-right {
        flex-direction: column !important;
    }

    #services__txt2 {
        padding-left: 40px;
    }

    .services__block:nth-child(even) {
        flex-direction: column-reverse;
    }

    .services__block__img {
        width: 480px;
    }

    /** ===========================
     *  Footer sections
     *  ===========================
    */
    #section-footer {
        padding-top: 40px;
    }

    footer {
        flex-direction: column;
    }

    .contact-wrapper {
        width: 100%;
    }

    .form-wrapper {
        width: 100%;
        padding-top: 60px;
    }

    .map-wrapper {
        width: 100%;
        padding-top: 60px;
    }

    .place {
        margin-bottom: 60px;
        flex-direction: column;
        align-items: center;
    }

    .place-wrapper {
        width: 100%;
    }

    .place__text {
        text-align: center;
    }

    .contact-width {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .socials__footer {
        justify-content: center;
    }

    .label__field {
        text-align: center;
    }
}

@media (max-width: 768px) {
    #root {
        -webkit-overflow-scrolling: touch;
    }

    .container {
        max-width: 720px;
    }

    /** ===========================
     *  Header sections
     *  ===========================
    */
    #section-header {
        position: static;
        padding: 0;
    }

    .poster__size {
        padding-top: 80px;
    }

    /* === burger === */
    .navigation {
        font-size: 24px;
        height: 50px;
        z-index: 3;
    }

    .navigation__ul {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: white;
        flex-direction: column;
        justify-content: flex-start;
        padding: 70px 0 0 0;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }

    .navigation__ul.active {
        top: 0;
    }

    .burger--wrapper {
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: flex-end;
        padding-right: 40px;
        position: absolute;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 10;
    }

    .header__burger span {
        position: absolute;
        background-color: black;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before,
    .header__burger:after {
        content: "";
        position: absolute;
        background-color: black;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    body.lock {
        overflow: hidden;
    }

    /* === */
    /** ===========================
     *  About sections
     *  ===========================
    */
    #about__img {
        width: 420px;
    }

    #about__text__title {
        font-size: 36px;
        line-height: 42px;
        text-align: center;
    }

    #about__bottom__title {
        padding: 0 40px;
    }

    /** ===========================
     *  Services sections
     *  ===========================
    */
    .services__block__img {
        width: 420px;
        height: 420px;
    }

    /** ===========================
     *  Footer sections
     *  ===========================
    */
    #section-footer {
        padding-top: 60px;
    }

    #map {
        width: 90%;
    }

    .map-wrapper {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 100%;
    }

    /** ===========================
     *  Header sections
     *  ===========================
    */
    #section-header {
        height: auto;
    }

    .img__bg {
        height: 570px;
    }

    .poster__block {
        padding: 0 15px;
        text-align: center;
    }

    /** ===========================
     *  About sections
     *  ===========================
    */
    #section-about {
        padding-top: 0;
    }

    .about__bottom__title {
        font-size: 26px;
        padding: 0 15px;
    }

    #about__text__group3 {
        width: 137px;
    }

    .about__text__group2-wrapper {
        width: 198px;
    }

    #about__img {
        width: 320px;
    }

    .about__background {
        width: 100%;
        margin-top: 70px;
    }

    .about__text__width {
        width: auto;
        padding: 0;
    }

    #about__text__title {
        font-size: 36px;
        line-height: 42px;
        text-align: center;
    }

    #img__twenty {
        width: 102px;
    }

    #img__eight-hundred {
        width: 80%;
        height: 80%;
        padding: 0 10px;
    }

    .about__text__group1 {
        width: 320px;
        justify-content: center;
    }

    #about__text__large {
        font-size: 24px;
        text-align: center;
        width: 100%;
    }

    /** ===========================
     *  Services sections
     *  ===========================
    */
    #services {
        width: 95%;
    }

    .services__block__img {
        width: 320px;
        height: 320px !important;
    }

    /** ===========================
     *  Footer sections
     *  ===========================
    */
    form {
        width: 100%;
        padding: 0 15px;
    }

    .checkbox {
        padding: 0 10px;
    }

    .footer--large {
        padding: 0 10px;
    }

    #map {
        height: 300px;
    }

    #input__name {
        margin-bottom: 15px;
    }

    #label__checkbox {
        padding-left: 10px;
    }
}

@media (max-width: 321px) {
    .container {
        max-width: 100%;
    }

    /** ===========================
     *  Header sections
     *  ===========================
    */
    .img__bg {
        height: 691px;
    }

    /** ===========================
     *  About sections
     *  ===========================
    */
    .about__text__width {
        width: 300px;
    }

    #img__eight-hundred {
        width: 100%;
    }

    #about__bottom__title {
        font-size: 26px;
    }

    .about__text__group1 {
        width: 320px;
    }

    .about__text__group2-wrapper {
        width: 160px;
    }

    #about__text__wellness {
        font-size: 24px;
    }

    .about__text__small {
        font-size: 16px;
    }

    #about__text__title {
        font-size: 36px;
    }

    /** ===========================
     *  Services sections
     *  ===========================
    */
    .services__block__text {
        font-size: 24px;
    }

    /** ===========================
     *  Footer sections
     *  ===========================
    */
    #label__checkbox {
        font-size: 14px;
    }

    .footer--large {
        font-size: 28px;
    }

    #label__checkbox {
        padding-left: 20px;
    }

}